# Note: These will be set by Heroku on deployment

# Connection parameters for local Neo4j Dev instance
GRAPHENEDB_BOLT_URL=bolt://localhost
GRAPHENEDB_BOLT_USER=neo4j
GRAPHENEDB_BOLT_PASSWORD=<YOUR_LOCAL_NEO4J_PASSWORD>

# Port for local express instance to listen on
PORT=3000
